html, body{
height: 100%;
width: 100%;
}

/*#bulb{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    border: 4px solid #000;
   
}

button{
    padding: 10px 30px;
    font-size: 20px;
    margin: 60px;
}
*/

#box{
    height: 300px;
    width: 300px;
    background-color:aquamarine
}
h1{
    color: blueviolet;
}

