html{
    margin: 0;

}

span{
    display: block;
}

.canvas{
    width: 80%;
    margin: 100px auto 100px;
    text-align: center;

}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#grey{
    background: gray;
}
#white{
    background: whitesmoke;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}